-- zkopirovat do lokalniho `.env` a upravit hodnoty

MYSQL_ROOT_PASSWORD=heslo-pro-roota
MYSQL_USER=uzivatel-database
MYSQL_PASSWORD=heslo-uzivatele-database

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_SECRET=your-keycloak-client-secret

GENERIC_ADMIN_EMAIL=admin@example.com
GENERIC_ADMIN_PASSWORD=admin123